{
	admin 0.0.0.0:2019
}

import /etc/caddy/active_upstreams.caddy

it-app.movedocs.com, oasisdev.movedocs.com, azure.movedocs.com, security.movedocs.com {
	tls {
		issuer acme {
			dns cloudflare {env.CLOUDFLARE_API_TOKEN}
			resolvers 1.1.1.1 1.0.0.1
			propagation_delay 30s
			propagation_timeout 5m
		}
		issuer internal
	}

	@internal path /api/internal/*
	respond @internal 404

	import active_upstreams
}
